<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="serviceJdbcConnection" class="org.example.service.JdbcConnectionImpl">
        <!-- inject any dependencies required by this locator bean -->
    </bean>

    <bean id="connection"
          factory-bean="serviceJdbcConnection"
          factory-method="getConnection"
    />

    <bean id="crudRepository" class="org.example.CrudRepositoryDatabase">
        <constructor-arg ref="connection"/>
    </bean>
</beans>