<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
        <property name="location" value="application.properties"/>
    </bean>

    <bean id="dslContext" class="org.jooq.impl.DSL"
          factory-method="using">
        <constructor-arg ref="connection"/>
        <constructor-arg>
            <value type="org.jooq.SQLDialect">POSTGRES</value>
        </constructor-arg>
    </bean>

    <bean id="connectionFactory" class="org.example.service.connection.JdbcConnection">
        <property name="url" value="${jdbc.url}"/>
        <property name="user" value="${jdbc.user}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <bean id="connection"
          factory-bean="connectionFactory"
          factory-method="getConnection">
    </bean>

    <bean id="crudRepository" class="org.example.dao.CrudRepositoryUser">
        <constructor-arg ref="connection"/>
    </bean>

    <bean id="serverService" class="org.example.service.server.JettyRestService">
        <constructor-arg value="${server.host}"/>
        <constructor-arg value="${server.port}"/>
    </bean>
</beans>